* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #292929;
    color: black;
    text-align: center;
}

::after,
::before {
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
footer {
    display: block;
}

.site-footer {
    user-select: none;
    position: absolute;
    bottom: 5px;
    margin-left: 15px;
    color: white
}


/**Colors**/

.text-white {
    color: white !important;
}

.text-black {
    color: black !important;
}

.white {
    border-color: white !important;
    outline-color: white !important;
}


/**Aligns**/

.align-left {
    margin-left: 15px;
    text-align: left;
}

.align-right {
    margin-right: 15px;
    text-align: right;
}

.align-center {
    text-align: center;
}


/**Borders**/

.border-bottom {
    border-bottom: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
}

.border-top {
    border-top: 1px solid white;
    margin-left: 5px;
    margin-right: 5px;
}


/**Main**/

.page-message {
    border: dotted 1px green;
    border-width: 5px;
    border-radius: 50px;
    width: 50%;
    height: auto;
    display: inline-block;
    top: 20rem;
    position: relative;
}