@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300&display=swap');
* {
    padding: 0;
    font-family: var(--font-main);
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}


/*COLORS*/

:root {
    --blue: #1f6bdd;
    --red: #d02a2a;
    --green: #2ea65d;
    --white: #ffffff;
    --black: #000000;
    --dark: #2e2e2e;
    --light: #f8f8f8;
    /*-----------------------------------------------------------*/
    --blue-op: #1f6bdd41;
    --red-op: #d02a2a36;
    --green-op: #2ea65e36;
    /*-----------------------------------------------------------*/
    --gray: #494949;
    --gray-op: #4949499f;
    --white-op: #ffffff2c;
    /*-----------------------------------------------------------*/
    --shadow-dark-0: 0px 0px 10px 1px #00000033;
    --shadow-dark-1: 0px 0px 2px 1px #00000033;
    --shadow-blue-0: 0px 0px 0px 2px var(--blue);
    /*-----------------------------------------------------------*/
    --font-main: Arial, Helvetica, sans-serif;
    /*-----------------------------------------------------------*/
}

.theme-dark {
    --text-color-3: #f8f8f8;
    --text-color-2: #f8f8f8;
    --text-color-1: #2e2e2e;
    /*-----------------------------------------------------------*/
    --border-color: #494949;
}

.theme-light {
    --text-color-1: #2e2e2e;
    --text-color-2: #f8f8f8;
    --text-color-3: #2e2e2e;
    /*-----------------------------------------------------------*/
    --border-color: #808080;
}


/*OTHER*/

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: var(--text-color-3)
}


/*RADIUS*/

.radius-100 {
    border-radius: 1rem !important;
}


/*WIDTHS*/

.w-10 {
    width: 10% !important;
}

.w-25 {
    width: 25% !important;
}

.w-50 {
    width: 50% !important;
}

.w-75 {
    width: 75% !important;
}

.w-100 {
    width: 100% !important;
}


/*BACKGROUNDS*/

.theme-dark {
    background: var(--dark) !important;
}

.theme-light {
    background: var(--light) !important;
}


/*BUTTONS*/

button {
    border: none;
    outline: none;
}

.btn {
    position: relative;
    overflow: hidden;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 25px 10px 25px;
    width: fit-content;
    border-radius: 3px;
    color: var(--text-color-2);
    transition: opacity .1s, background .1s;
    box-shadow: var(--shadow-dark-0);
    margin-bottom: 5px;
}


/*-----------------------------------------------------------*/

.btn-blue {
    background: var(--blue);
}

.btn-red {
    background: var(--red);
}

.btn-green {
    background: var(--green);
}


/*-----------------------------------------------------------*/

.btn-outline-blue {
    background: transparent;
    outline: solid 1px var(--blue);
    color: var(--text-color-3)
}

.btn-outline-red {
    background: transparent;
    outline: solid 1px var(--red);
    color: var(--text-color-3)
}

.btn-outline-green {
    background: transparent;
    outline: solid 1px var(--green);
    color: var(--text-color-3)
}


/*-----------------------------------------------------------*/

.btn:not(.disabled):hover {
    opacity: 70% !important;
}

.btn-outline-blue:hover:not(.disabled) {
    color: var(--light);
    background: var(--blue);
}

.btn-outline-red:hover:not(.disabled) {
    color: var(--light);
    background: var(--red);
}

.btn-outline-green:hover:not(.disabled) {
    color: var(--light);
    background: var(--green);
}


/*-----------------------------------------------------------*/

.btn:hover:not(.disabled) {
    cursor: pointer;
    opacity: 100%;
}

.btn:active:not(.disabled) {
    opacity: 100% !important;
}


/*-----------------------------------------------------------*/

.btn-transparent {
    box-shadow: none;
    background: transparent;
    color: var(--text-color-3)
}

.btn-transparent:hover {
    background: var(--gray-op);
    color: var(--text-color-2)
}


/*-----------------------------------------------------------*/

.btn-outline-transparent {
    outline: solid 1px var(--gray-op);
    box-shadow: none;
    background: transparent;
    color: var(--text-color-3)
}

.btn-outline-transparent:hover:not(.disabled) {
    background: var(--gray-op);
    color: var(--text-color-2)
}


/*-----------------------------------------------------------*/

.disabled {
    user-select: none;
    opacity: 50%;
}

.disabled:hover {
    cursor: not-allowed;
    opacity: 40%;
}


/*INPUTS*/

input {
    border: none;
    outline: none;
}

.input {
    vertical-align: middle;
    width: fit-content;
    transition: opacity .1s;
    box-shadow: var(--shadow-dark-1);
    border-radius: 3px;
}


/*-----------------------------------------------------------*/

.input-1 {
    box-shadow: none;
    background: transparent;
    padding: 5px 25px 5px 5px;
    border-bottom: solid 1px var(--border-color);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--text-color-3);
    transition: border .1s;
}


/*-----------------------------------------------------------*/

.input-1:focus,
.input-1:not(:placeholder-shown) {
    border-bottom: solid 1px var(--blue);
}


/*SLIDER CHECKBOXES*/

.switch {
    position: relative;
    display: inline-flex;
    vertical-align: sub;
    height: 24px;
    width: 40px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00b06f;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: transform 0.4s;
    transition: transform 0.4s, box-shadow .4s;
    box-shadow: 0 0px 15px #20202062;
    background: white;
    background-size: 24px 24px;
    right: auto;
    left: 2px;
}

.slider:hover:before {
    /*box-shadow: 0 0px 15px #20202062, 0 0 0 8px var(--white-op);*/
}


/*-----------------------------------------------------------*/

input:checked+.slider {
    background-color: #00b06f;
}

input:checked+.slider:before {
    -webkit-transform: translateX(80%);
    -ms-transform: translateX(80%);
    transform: translateX(80%);
    background-repeat: no-repeat;
    background: white;
    background-position: center;
    background-size: 24px 24px;
}

input:checked+.slider:after {
    -webkit-transform: translateX(80%);
    -ms-transform: translateX(80%);
    transform: translateX(80%);
    background-repeat: no-repeat;
    background: white;
    background-position: center;
    background-size: 24px 24px;
}


/*-----------------------------------------------------------*/

.slider-round {
    border-radius: 34px;
}

.slider-round:before {
    border-radius: 50%;
}


/*-----------------------------------------------------------*/

.switch-small {
    height: 15px;
}

.switch-small>.slider {
    border-radius: 34px;
}

.switch-small>.slider:before {
    border-radius: 50%;
    left: 0;
}

.switch-small>input:checked+.slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}


/*RIPPLE*/

.btn span {
    position: absolute;
    border-radius: 50%;
    background: radial-gradient(circle, hsla(0, 0%, 100%, .2) 0, hsla(0, 0%, 100%, .3) 40%, hsla(0, 0%, 100%, .4) 50%, hsla(0, 0%, 100%, .5) 60%, hsla(0, 0%, 100%, 0) 70%);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: ripple 1s;
    opacity: 0;
}


/* Add animation */

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(10);
    }
}