/*ROOT*/

:root {
    --dark: #313131;
    --light: #fcfcfc;
    --dark-white: #e9e9e9;
    --bg-gradient: linear-gradient(132deg, #41fc79, #1b8fc5, #c1ee1e);
}


/*OTHER*/

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

*,
 ::after,
 ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    background: var(--bg-gradient)
}

html,
body {
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color .5s;
}

a.link-highlight:hover {
    color: #1d0bf9;
}


/*COLOR MODES*/

.light {
    color: var(--light) !important;
    --bg: #fcfcfc;
    --txt: #313131;
    --btn-bg: #fcfcfc;
    --btn-bg-op: #fcfcfc93;
}

.dark {
    color: var(--dark) !important;
    --bg: #313131;
    --txt: #fcfcfc;
    --btn-bg: #313131;
    --btn-bg-op: #3131318f;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary,
footer {
    display: block;
}


/*MAIN*/

main {
    z-index: 100;
}

.hide {
    opacity: 0 !important;
}

.show {
    opacity: 1 !important;
}

.none {
    display: none !important;
}

.cursor-pointer:hover {
    cursor: pointer
}

.livestream {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    max-width: 25vw;
    margin-left: 10px;
}

.livestream2 {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    max-width: 25vw;
    margin-left: 10px;
}

.news {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 15px;
    width: 100%;
    text-align: center
}

.section,
.section2 {
    transition: opacity 0.5s ease-in-out;
}

.content {
    z-index: 100;
}

.header {
    text-align: center;
    background-color: aquamarine;
}

.nav {
    position: absolute;
    top: 1rem;
    width: 100%;
    left: 0;
    padding: 0 1rem 0 1rem;
    text-align: center;
}

.sections {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.section-main {
    text-align: center !important;
}


/*BUTTONS*/

.btn {
    background-color: transparent;
    border: none;
    outline: solid 1px var(--btn-bg);
    padding: 3px 1.5rem 3px 1.5rem !important;
    border-radius: 2px;
    transition: background-color .3s, opacity .1s, box-shadow .3s;
    margin-left: 5px;
    color: var(--bg);
    white-space: nowrap;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--btn-bg);
    color: var(--txt)
}

.btn:active {
    opacity: .8;
    box-shadow: 0px 0px 0px 3px var(--btn-bg-op), 0 0 0 4px transparent;
}

.back {
    position: fixed;
    z-index: 99;
    margin-top: 5px;
    padding: 0px 15px !important;
    animation: showBackBtn 2s ease-in-out;
}

.title,
.section-title {
    font-size: 80px;
    margin: 0;
    transition: font-size .5s;
}

.section-title-2 {
    font-size: 40px;
    margin: 0;
    transition: font-size .5s;
}

.titleInfo {
    font-size: 16px;
    margin: 0;
    transition: font-size .5s;
}

.buttons {
    margin-top: 40px;
    transition: margin .5s;
}

.btn-main>i {
    pointer-events: none;
}

.btns {
    margin-top: 20px;
    transition: margin .5s;
}

.link {
    overflow: hidden;
    font-size: 2em !important;
    margin-left: 10px;
    transition: font-size .5s;
}

.link:hover {
    cursor: pointer;
}

.icon-text {
    margin-left: 5px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif !important;
    max-width: 0px;
    transition: max-width .4s;
    font-size: 20px;
    transform: translateY(-5px);
}

.particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: var(--bg-gradient);
    background: var(--bg-gradient);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: 400% 400%;
    animation: Gradient 25s ease infinite;
}

.footer {
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    margin-left: 15px;
}

.channelThumbnail {
    transform: translateY(3px);
    transition: width .5s;
    border-radius: 5rem;
    width: 60px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.466);
    transition: transform .5s;
}

.channelThumbnail:hover {
    transform: translateY(-3px);
}

.dbText {
    margin-top: 0
}

.section2Page>.sections {
    height: 100%;
}

.section-header {
    text-align: center;
    height: 100%;
    display: inline-block;
    width: 100%;
}

.section-header.section-title {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    width: 100%;
    display: grid;
    align-content: center;
}

.section2Page .content {
    text-align: center
}

.section-main {
    height: auto;
    display: inline-block;
    width: 100%;
}

.section-title-page2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.project-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    align-items: flex-start;
}

.project-item {
    margin-bottom: 15px;
    background-color: #00000024;
    border-radius: .25em;
    margin: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.project-item:not(:last-child) {
    margin-bottom: 0;
}

.content-header {
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    text-align: center;
    display: inline-block;
    animation: upDown 1s ease-in-out infinite;
}

.item-header>p {
    margin: 5px 0px 5px 0;
    font-size: 20px;
    text-align: left;
    margin-left: 40px;
}

.item-header {
    border-bottom: solid 1px #ffffffb5;
}

.project-item-image {
    width: 2rem;
    height: 2rem;
    border-radius: 3px;
    float: left;
    transition: opacity .2s;
}

.project-item-image:hover {
    cursor: pointer;
    opacity: .7;
}

.project-item-image:active {
    opacity: 1;
}

.item-content {
    width: 100%;
}

.item-header>.project-item-btn {
    float: right;
}

.item-content>.item-desc {
    text-align: left;
}

.item-content>.item-desc>.item-desc-item:last-child {
    margin-bottom: 0
}

.noscript-message {
    position: absolute;
    width: 100%;
    text-align: center;
    display: none;
}


/*ANIMATIONS*/

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes cube {
    from {
        transform: scale(0) rotate(0deg) translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: scale(20) rotate(960deg) translate(-50%, -50%);
        opacity: 0;
    }
}

@keyframes showBackBtn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}


/*SCREEN SIZES*/

@media screen and (max-width: 500px) {
    .title {
        font-size: 60px;
    }
    .titleInfo {
        font-size: 12px;
    }
    .buttons {
        margin-top: 20px;
    }
    .btns {
        margin-top: 10px;
    }
    .link {
        font-size: 1.5em !important;
    }
    .icon-text {
        font-size: 15px;
    }
    .btn {
        font-size: 13px;
        padding: 2px 12px;
    }
    .footer {
        font-size: 10px;
    }
    .channelThumbnail {
        width: 50px
    }
    .btn.back {
        font-size: 10px;
    }
    .section-title>p {
        font-size: 40px
    }
}

@media screen and (max-width: 920px) {
    .livestream {
        max-width: 150px
    }
    .livestreamThumbnail {
        width: 132px;
        height: 99px
    }
}

@media screen and (max-width: 690px) {
    .livestream {
        display: none;
    }
}
