:root {
    --dark: #313131;
    --light: #fcfcfc;
    --dark-white: #e9e9e9;
    --bg-gradient: linear-gradient(132deg, #41fc79, #1b8fc5, #c1ee1e);
}

html {
    overflow: hidden;
}

* {
    box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: rgba(255, 255, 255, 0.116);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.349);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(247, 247, 245, 0.541);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(247, 247, 245, 0.144);
}

::-webkit-scrollbar-corner {
    background: #000;
}

html {
    font-family: 'Open Sans', sans-serif !important;
    -webkit-text-size-adjust: 100%;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    line-height: 1.5;
    background: var(--bg-gradient)
}

html,
body {
    height: auto;
}


/*COLORS*/

.light {
    color: var(--light) !important;
    --bg: #fcfcfc;
    --txt: #313131;
    --btn-bg: #fcfcfc;
    --btn-bg-op: #fcfcfc93;
}

.dark {
    color: var(--dark) !important;
    --bg: #313131;
    --txt: #fcfcfc;
    --btn-bg: #313131;
    --btn-bg-op: #3131318f;
}


/*MAIN*/

a {
    color: inherit;
    text-decoration: none;
    transition: transform 0.2s;
    transform-origin: bottom right;
    transform: scale(1);
}

a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: solid 1px white;
    width: 0%;
    transition: width .5s;
}

a:hover:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: solid 1px white;
    width: 100%;
}

footer>* {
    margin-left: 10px !important;
}

main,
footer {
    z-index: 999;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: max-content;
    padding: 5px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, .5));
    text-align: center;
}

footer>a {
    float: right;
    margin: 0px;
    font-size: 10px;
}

footer>p {
    float: left;
    font-size: 10px;
    margin: 0px;
}

main {
    margin: 15px !important;
}

.none {
    display: none !important;
}

.cursor-pointer:hover {
    cursor: pointer
}

.particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: var(--bg-gradient);
    background: var(--bg-gradient);
    background-repeat: repeat;
    background-size: cover;
    overflow: hidden;
    background-position: 50% 50%;
    background-size: 400% 400%;
    top: 0;
    z-index: -1;
    animation: Gradient 25s ease infinite;
}

.header {
    border-bottom: solid 1px rgba(255, 255, 255, 0.349);
    display: flex;
}

.header>.title,
.settings-title {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, .5));
    color: white;
}

p {
    color: white;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, .5));
}

input.textinput {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.349);
    background: transparent;
    color: white;
    outline: none;
    min-width: 200px;
    transition: box-shadow .2s;
}

input.textinput:focus {
    box-shadow: 0px 2px 0px 0px rgba(0, 132, 255, 0.623);
}

input.textinput:not(:placeholder-shown) {
    box-shadow: 0px 2px 0px 0px rgba(0, 132, 255, 0.623);
}

::placeholder {
    color: rgb(255, 255, 255)
}

.msg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/*BUTTONS*/

.btn {
    background-color: transparent;
    border: none;
    outline: solid 1px white;
    padding: 3px 1.5rem 3px 1.5rem !important;
    border-radius: 2px;
    transition: background-color .3s, opacity .1s, box-shadow .3s;
    margin-left: 5px;
    color: white;
    white-space: nowrap;
}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black
}

.btn:active {
    opacity: .8;
    box-shadow: 0px 0px 0px 3px var(--btn-bg-op), 0 0 0 4px transparent;
}

.back {
    position: fixed;
    z-index: 99;
    margin-top: 5px;
    padding: 0px 15px !important;
    animation: showBackBtn 2s ease-in-out;
}

.title,
.section-title {
    font-size: 80px;
    margin: 0;
    transition: font-size .5s;
}

.section-title-2 {
    font-size: 40px;
    margin: 0;
    transition: font-size .5s;
}

.titleInfo {
    font-size: 16px;
    margin: 0;
    transition: font-size .5s;
}

.buttons {
    margin-top: 40px;
    transition: margin .5s;
}

.btn-main>i {
    pointer-events: none;
}

.btns {
    margin-top: 20px;
    transition: margin .5s;
}

.qbtn {
    margin-top: 20px;
    width: 100%;
}

.ripple {
    filter: none !important;
}

h2 {
    margin-top: 0;
}


/*MAIN*/

.loading {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.loading>.error {
    color: red;
    font-size: 11px;
}

.loading>p {
    margin: 0;
}

footer>* {
    margin-left: 10px !important;
}

main,
footer {
    z-index: 999;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: max-content;
    padding: 5px;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, .5));
    text-align: center;
}

footer>a {
    color: white;
    float: right;
    margin: 0px;
    font-size: 12px;
}

footer>p {
    color: white;
    float: left;
    font-size: 12px;
    margin: 0px;
}

.playercount {
    position: absolute;
    right: 15px;
    top: 15px;
}

.titleheader {
    position: absolute;
    left: 15px;
    top: 15px;
}

.playercount>p,
.titleheader>p {
    margin-top: 0;
}

.playerlist {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 70vh;
    max-height: 70vh;
}

.playerlist>.list {
    overflow-y: scroll;
    max-height: 70vh;
    min-height: 70vh;
}

.playerlist>.title {
    text-align: center;
    color: white;
    font-size: 25px;
    filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, .5));
    border-bottom: solid 1px rgba(255, 255, 255, 0.349);
    width: 80vw;
    margin-bottom: 15px;
}

.player {
    margin: 5px;
    outline: solid 1px rgba(255, 255, 255, 0.349);
    padding: 1px 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;
    max-height: 35px;
    overflow: hidden;
    transition: max-height .5s;
}

.player>.plrmain {
    display: flex;
}

.player>.plrmain>.plrname {
    margin-left: 5px;
}

.player>.plrmain>img {
    border-radius: 3px;
    transition: width .5s, height .5s;
}

.player>.info {
    margin-bottom: 5px;
}

.player>.info>p {
    font-size: 11px;
    margin: 0;
}

.player>p {
    margin-top: 5px;
    margin-bottom: 5px;
    pointer-events: none;
}

#clicked {
    max-height: 250px;
}

.search {
    background: none;
    border: none;
    outline: none;
    color: white;
    float: right;
    transform: scale(75%);
    cursor: pointer;
    border-radius: 3px;
}

.search-input {
    width: 200px;
    margin-left: 15px;
    background: none;
    outline: solid 1px rgba(255, 255, 255, 0.349);
    border: none;
    color: white;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif !important;
    float: right;
    text-align: right;
    transition: width .5s;
}

.search-input.hide {
    width: 0 !important;
}

.hide {
    display: none;
}


/*ANIMATIONS*/

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/*SCREEN THING*/

@media screen and (max-width: 480px) {
    .title {
        font-size: 10px;
    }
}
