*{
    font-family: Arial;
}

.wc{
      margin-left: 10px;
}

html{
  overflow: hidden;
}

body{
     padding: 0;
  margin: 0;
}

.bg-container {
    display: grid;
    height: 100%;
    width: 100%;
    
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    width: 100%;
    object-fit: cover;
    
}

main {
    font-family: Arial;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

*{
    text-decoration: none;
}

.card{
    margin-left: 5px
}

.card:hover {
    transform: scale(105%)
}

.card, img {
    transition: transform 0.5s, opacity 0.5s
}

.results{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
}

.endtxt{
    display: none
}