* {
    scrollbar-width: thin;
    cursor: auto;
    color: white;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}

main {
    overflow: none;
}

.code {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
}

.main {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: row;
}

.code-area {
    height: 100%;
    width: 100%;
    padding: 5px;
    overflow: hidden;
}

.code {
    border: none;
    outline: none;
    resize: none;

}

.sidebar {
    padding: 10px;
    width: 250px;
    text-align: left;
    background-color: transparent;
}

.sidebar-buttons {
    display: grid;
    gap: 10px;
}

.sidebar-buttons>button {
    display: flex;
    justify-content: center !important;
}

.tooltip {
    padding: 5px;
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
}

.tooltip>.text {
    margin: 0;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 50vw;
    transform: translateX(0%);
    transition: transform .3s;
}

.blur {
    filter: blur(2px);
}

.hide {
    display: none;
}

.loadingtext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.tooltip {
    overflow: hidden;
    font-size: 25px;
}

.tooltip-icon {
    margin-left: 5px;
    cursor: pointer;
    margin-bottom: auto;
}

.toolbox-hidden {
    transform: translateX(-200%) !important;
}

a {
    text-decoration: none;
    color: rgb(0, 96, 206);
}

a:hover {
    cursor: pointer !important;
    border-bottom: solid 1px rgb(0, 96, 206);
}

.select-dropdown {
    color: white;
    cursor: pointer;
}

.select-wrapper>ul {
    cursor: pointer !important;
}

.input-field.col>label {
    left: 0 !important;
}

.material-icons {
    margin-right: 5px;
}

.monaco {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 500px) {
    .sidebar {
        width: 150px;
    }

    .sidebar-buttons>button {
        font-size: 10px;
    }
}