* {
    scrollbar-width: thin;
    cursor: auto;
}

html,
body,
.container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

.container {
    height: 92%;
    overflow-y: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    outline: none;
    resize: none;
}

.bottom {
    position: absolute;
    bottom: 10px;
    left: 5px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.bottom>button {
    border: none;
    border-radius: 3px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    height: min-content;
    cursor: pointer;
}

.tooltip {
    padding: 5px;
    border-radius: 3px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .3s;
}

.tooltip>.text {
    margin: 0;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    max-width: 50vw;
    transform: translateX(0%);
    transition: transform .3s;
}

.blur {
    filter: blur(2px);
}

.hide {
    display: none;
}

.loadingtext {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.tooltip {
    overflow: hidden;
    font-size: 25px;
}

.tooltip-icon {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.toolbox-hidden {
    transform: translateX(-150%) !important;
}

a {
    text-decoration: none;
    color: rgb(0, 96, 206);
}

a:hover {
    cursor: pointer !important;
    border-bottom: solid 1px rgb(0, 96, 206);
}